*{
    box-sizing: border-box;
    margin: 0;
}

.main-div {
    display: inline-block;
    flex-direction: column;
    align-content: center;
}

.inputField {
    margin: 30px;
    height: 15px;
    width: 100px;
}
